@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
}
.wrapper._loaded {
  size: 14px;
}

._container {
  max-width: 1160px;
  padding: 0px 0px;
  margin: 0 auto;
}

:root {
  --border-w: 2px;
}

.header {
  background: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 70px;
}
.header__main {
  display: flex;
  align-items: center;
  flex: 0 0 33.6637931034%;
}
.header__logo {
  padding-right: 11.5px;
  position: relative;
  z-index: 5;
}
.header__logotext {
  position: relative;
  z-index: 5;
}
.header__menu {
  display: flex;
  margin-right: 27px;
}

.menu {
  flex: 0 0 37.8879310345%;
}
.menu__body {
  width: 100%;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu__item {
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0px;
  position: relative;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
    margin: 10px 0px 0px 16px;
  }
  .menu__item:hover .menu__arrow,
.menu__item:hover .menu__link {
    color: #d4bffd;
  }
}
@media (min-width: 767.98px) {
  .menu__item:hover .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
    margin: 10px 0px 0px 16px;
  }
  .menu__item:hover .menu__arrow,
.menu__item:hover .menu__link {
    color: #d4bffd;
  }
}
.menu__link {
  font-weight: 400;
  color: inherit;
  transition: color 0.3s ease 0s;
  position: relative;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
  }
}
.menu__link_aboutus {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
  white-space: nowrap;
}
.menu__arrow {
  margin: 3px 0px 0px 2.5px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .menu__arrow._active {
    transform: rotate(-180deg);
  }
}
.menu__sub-list {
  position: relative;
  background-color: rgb(204, 238, 247);
  padding: 15px;
  flex: 1 1 100%;
}
@media (min-width: 767.98px) {
  .menu__sub-list {
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    min-width: 110px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
  }
}
@media (max-width: 767.98px) {
  .menu__sub-list {
    margin: 10px -15px 0px -15px;
  }
}
.menu__sub-item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.menu__sub-link {
  color: #fff;
  line-height: 120%;
}

.header__actions {
  flex: 0 0 26.1206896552%;
}

.actions-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1160px) {
  .actions-header {
    gap: calc(15px + 5 * ((100vw - 320px) / 840));
  }
}
.actions-header__buttonsignin {
  position: relative;
  padding: 9.5px 20.5px;
  border: 0;
  border-radius: 22px;
  font-family: inherit;
  color: inherit;
  background: none;
  font-size: 12px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.actions-header__buttonsignin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 22px;
  border: var(--border-w) solid transparent;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.actions-header__textin {
  color: #BC9CFF;
  font-weight: 700;
  text-transform: uppercase;
}
.actions-header__buttonsignup {
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  box-sizing: border-box;
  padding: 8px 20px;
  position: relative;
  z-index: 5;
}
.actions-header__textup {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

._icon-arrow-down:before {
  width: 8px;
  height: 8px;
  border-right: 2px solid;
  transform: rotate(45deg);
  content: "\e900";
}

._icon-arrow-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  color: rgba(31, 32, 65, 0.5);
  align-items: center;
  margin: 0px 9px 13px 8.77px;
}

._icon-arrow-down::after,
._icon-arrow-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-bottom: 2px solid;
}

.footer {
  padding: 200px;
}

.page {
  flex: 1 1 auto;
}