.footer {
    &__content {}
    &__body {
        

    }
    &__mainblock{
    
      display: grid;
     grid-template-columns: 250px 1fr 260px;
     @include adaptiv-value("padding-top", 100, 30, 1);
     @include adaptiv-value("padding-buttom", 100, 30, 1);  
     @include adaptiv-value("column-gap", 40, 0, 1);
    }
    &__main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__logo {
    
    }
    &__reward {
    
    }
    &__menu {}
    &__subscribe {}
    &__line {
      display:flex;
      border-top: 1px solid #ccc;
    }
    &__buttombody {
      display:flex;
    }
    &__copyright {}
    &__mediaicons {}
    &__icons {}
    }
    
    





.subscribe__form {
    position: relative;
    padding: 0px;
    height: 10px;
    width: 140px;
  }
  .subscribe__input{
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    outline: none;
    margin: 0 0 0 0px;
    box-sizing: border-box;
    padding: 14px 0px 14px 0px;
  }
  .clear {
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    background: #ccc;
    text-align: center;
    cursor: pointer;
  }
  .clear:after {
    content: "X";
    position: absolute;
    color: #373737;
    font-size: 20px;
    top: 12px;
    right: 20px;
  }
  input:invalid + .clear {
    visibility: hidden;
  }