//<ОСНОВНОЙ БЛОК>====================================================================================================
._footer-title {
    @include adaptiv-value("font-size", 12, 10, 1);
font-weight: 700;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================